.THIS #locationSearch > ul {
    display: none;
    border: 1px solid rgb(221, 219, 218);
    border-top: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
    background: white;
    margin-top: -0.75rem;
}
.THIS #locationSearch:focus-within > ul{
    display: block;
}

.THIS #poweredByGoogle {
    height: 16px;
}

.THIS .slds-listbox__item div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.THIS .slds-map {
    min-width: 100%;
    max-height: 400px;
}